.Gift {
    min-height: 50px;
    box-shadow: 5px 4px 12px 0px rgba(40, 40, 40, 0.708);
    margin-bottom: 20px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gift .remove {
    margin-left: 10px; 
    outline: none;
}
.picture img{
    width: 600px;
    height: 400px;
}
.picture p{
    font-size: 20px;
}

.cardGift{
    border: solid 2px;
    padding: 30px;
}